.sliderIpssi{
  overflow:hidden;
  position:relative;
}

.sliderIpssiContainer{
  display:flex;
  transition: all ease-in 0.25s;
}

.nextSlide, .prevSlide{
  position:absolute;
  width:50px;
  padding:10px 0px;
  text-align: center;
  background: rgba(255,255,255,0.5);
  font-size:30px;
  font-weight:bold;
  cursor:pointer;
  top:50%;
}

.nextSlide{
  right:20px;
}

.prevSlide{
  left:20px;
}

.sliderPagination{
  position:absolute;
  bottom:20px;
  left:50%;
  transform: translateX(-50%);
}

.dot{
  width:15px;
  height:15px;
  border-radius:50%;
  background:#FFF;
  display: inline-block;
  margin:5px;
  transition:background ease-in 0.4s;
  cursor:pointer;
}

.dot.current{
  background:#000;
}
